.header{
  padding-bottom: 0px;
}

.room-title, .room h6{
  text-align: center;
}

.timesent{
  font-size: 12px;
}

.room h6{
  font-size: 15px;
  font-weight: 700;
}

.room h4{
  font-weight: bold;
}
