.header{
  padding-bottom: 0px;
  padding-top: 1px;
}

.room-title, .room h6{
  text-align: center;
}

.timesent{
  font-size: 12px;
}

.room h6{
  font-size: 15px;
  font-weight: 700;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.room h4{
  font-weight: bold;
}

.chat-room{
  height: 520px;
  overflow-y: auto;
  box-shadow: 1px 2px 20px lightgrey;
}

.room-name{
  overflow: hidden;
  text-overflow: ellipsis;
}
